.exhibit{
    display: flex; 
    min-height: 50vh; /* Stretch to full viewport height */
    background-image: url("https://artic-web.imgix.net/d2a7f2a6-c365-4277-ab52-5147e20f8983/exh_3-Puryear_Face-Down_2008_mega_2000.jpg?auto=compress%2Cformat&fit=min&fm=jpg&q=80&rect=%2C%2C%2C"); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
  }

  .exhibit-title {
    flex: 1; 
    text-align: center;
    color: white; 
    font-size: 3rem; 
    margin: auto 0;
    line-height: 1.2; 
  }

  .exhibit-container {
    background-color: rgba(0, 0, 0, 0.5);
    color: white; 
    padding: 5%;
    margin: auto; 
    max-width: 400px; 
  }
  .btnart {
    color: white;
    font-weight: bold;
    margin-right: 10px; 

  }

  .link-exhibit:hover{
    text-decoration: none;
  }
 
  
  @media (max-width: 768px) {
  
    .echibit-Title {
      font-size: 1.5rem;
      padding: 10px;
    }
    .exhibit-container {
      padding: 1rem; 
    }
  }
