.shop-container {
    padding: 20px;
  }
  
  .shop-card-scroll {
    display: flex;
    gap: 10px;
    scroll-behavior: smooth;
    overflow-y: hidden;  
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0);
    width: 100%; 
  }
  
  .shop-card {
    margin: 10px;
    position: relative;
    width: calc(25% - 20px); 
    height: 100%;
  }
  
  /* Responsive adjustments for smaller screens */
  @media (max-width: 1068px) {
    .shop-card {
      width: calc(100% - 10px);
    }
  }
  
  @media (max-width: 480px) {
    .shop-card {
      width: 100%;
    }
  
  }
  
  .shop-card img {
    width: 300px;
    height: 100%;
    object-fit: cover;
  }
  
  .shop-card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    opacity: 0;
    transition: opacity 0.2s ease-in-out; 
  }
  
  .shop-card:hover .shop-card-overlay {
    opacity: 1; /* Overlay becomes visible on hover */
  }